<div class="experience-strip">
  <h2>Experience</h2>
  <table class="table table-sm table-borderless">
    <tr><th scope="row">2026</th><td>Applied Science Intern, <strong>Microsoft</strong> (Tech Futures X3), Redmond, WA</td></tr>
    <tr><th scope="row">2025</th><td>PhD Research Intern, <strong>Microsoft Research</strong> (SAINTES Group), Redmond, WA</td></tr>
    <tr><th scope="row">2025</th><td>Global Impact Research Fellow, <strong>MOSIP</strong> (Gates Foundation-funded fellowship)</td></tr>
    <tr><th scope="row">2022–</th><td>Graduate Research Assistant, <strong>Oregon State University</strong>, advised by Anita Sarma</td></tr>
    <tr><th scope="row">2022</th><td>Research Scholar, <strong>IIT Kharagpur</strong> (AI4ICPS Lab)</td></tr>
    <tr><th scope="row">2021</th><td>Associate Software Developer Intern, <strong>Nomura Research Institute Financial Technologies</strong>, Kolkata</td></tr>
    <tr><th scope="row">2019–22</th><td>Research Student, <strong>St. Thomas’ College of Engineering &amp; Technology</strong>, advised by Amiya Halder</td></tr>
  </table>
  <h2>Education</h2>
  <table class="table table-sm table-borderless">
    <tr><th scope="row">Ph.D.</th><td>Computer Science, <strong>Oregon State University</strong> (in progress), advised by Anita Sarma</td></tr>
    <tr><th scope="row">M.S.</th><td>Computer Science, <strong>Oregon State University</strong>, advised by Anita Sarma</td></tr>
    <tr><th scope="row">B.Tech</th><td>Computer Science (Hons.), <strong>St. Thomas’ College of Engineering &amp; Technology</strong>, Rank 1 in college, advised by Amiya Halder</td></tr>
  </table>
</div>
